@page "/"
@inject NavigationManager NavigationManager
@inject Microsoft.JSInterop.IJSRuntime js;
@implements IAsyncDisposable;
@using DrawChatApp.Components;


<div class="form-group">
    <label>
        Room Name:
        <input @bind="roomNameInput" />
    </label>
</div>

<button @onclick="CreateGame">Create New Game</button>